body{
    /* background-color: red !important; */
}

.btnDetailP {
    background-color: blue; 
    width: 20px;
    padding: 2px;
    cursor: pointer !important;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.teste{
    background-color: red;;
}

/* ############## Formulário Tooltip: INICIO ##############*/
#divFormPopUp2{
    position: absolute; 
    background-color: white; 
    margin: auto;
    top: 0;
    right: 0;
    border: 2px solid gray;
    padding: 10px;
    z-index: 99999;
}

#input-link_redmine{
    width: 70px;
}

.form-readonly{
    border: none !important;;
}
/* ############## Formulário Tooltip: FIM ##############*/
.show-tooltip{
    visibility: visible;    
}
.hidden-tooltip{
    visibility: hidden;    
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

/* ######### LEGENDAS: INICIO ##############*/
.nao-mapeado{
    border-style: dotted !important;
    border-color: purple !important;
}
.mockado{
    border-style: dotted !important;
    border-color: #6A5ACD !important;
    background-color: #d9babf !important;
    
}
.estrangulamento-homologado {
    border-style: solid !important;
    border-color: #0000FF !important;
    background-color: lightblue!important;
}
.dev-done {    
    border-style: solid !important;
    border-color: darkorange !important;
    background-color:lightyellow !important;
}
.estrangulamento-em-producao {
    border-style: solid !important;
    border-color: green !important;
    background-color: #a6cda2 !important;
    
}
.mockado,
.nao-mapeado,
.estrangulamento-homologado,
.estrangulamento-em-producao,
.dev-done {
    border-width: 1px;    
}
/* ######### LEGENDAS: FIM ##############*/